package partials

import (
	"fmt"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	"github.com/open-uem/ent"
	"github.com/open-uem/openuem-console/internal/security/access"
	"golang.org/x/mod/semver"
	"net/url"
)

func AgentDisplayName(nickname, hostname, id string) string {
	if nickname != "" {
		return nickname
	}
	if hostname != "" {
		return hostname
	}
	return id
}

templ ComputerHeader(p PaginationAndSort, agent *ent.Agent, commonInfo *CommonInfo, offline bool) {
	<div class="flex justify-between items-center">
		<div class="flex gap-4 items-center">
			<div class="flex items-center gap-4">
				@OSBadge(agent.Os)
				@EndpointName(agent.ID, AgentDisplayName(agent.Nickname, agent.Hostname, agent.ID), commonInfo)
				if agent.Edges.Release != nil && semver.Compare(fmt.Sprintf("v%s",agent.Edges.Release.Version), "v0.10.0") >= 0 {
					@AgentStatus(commonInfo, fmt.Sprintf("/computers/%s/status", agent.ID), offline)
				}
			</div>
			@ShowAppliedTags(agent.Edges.Tags, agent.ID, p, string(templ.URL(GetNavigationUrl(commonInfo, "/computers"))), "#main", "outerHTML")
			if agent.IsRemote && commonInfo.DetectRemoteAgents {
				<span uk-tooltip={ fmt.Sprintf("title: %s", i18n.T(ctx, "agents.is_remote")) }>
					<uk-icon hx-history="false" icon="plane" custom-class="h-6 w-6 text-blue-600" uk-cloack></uk-icon>
				</span>
			}
		</div>
		<div class="flex gap-4">
			@CSVReportButton(p, string(templ.URL(GetNavigationUrl(commonInfo, fmt.Sprintf("/reports/computer/%s/ods", agent.ID)))), "reports.computer")
			@PDFReportButton(p, string(templ.URL(GetNavigationUrl(commonInfo, fmt.Sprintf("/reports/computer/%s", agent.ID)))), "reports.computer")
		</div>
	</div>
}

templ EndpointName(agentID string, name string, commonInfo *CommonInfo) {
	<div id="endpoint-name" class="flex flex-wrap min-w-0 gap-2 items-center">
		<span class="font-semibold break-words">{ name }</span>
		if commonInfo.Can(access.ManageDeviceDetails) {
			<a class="uk-button uk-button-default" href={ GetNavigationUrl(commonInfo, "/computers/"+url.PathEscape(agentID)+"/details") }>{ i18n.T(ctx,"device_details.edit") }</a>
		}
	</div>
}

templ ComputerBreadcrumb(c echo.Context, agent *ent.Agent, commonInfo *CommonInfo) {
	@Header(c, []Breadcrumb{{Title: "Computers", Url: string(templ.URL(GetNavigationUrl(commonInfo, "/computers")))}, {Title: AgentDisplayName(agent.Nickname, agent.Hostname, agent.ID), Url: string(templ.URL(GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s", agent.ID))))}}, commonInfo)
}
