package partials

import (
	"fmt"
	ent "github.com/open-uem/ent"
	"strconv"
)

templ ShowAppliedTags(tags []*ent.Tag, agentId string, p PaginationAndSort, url, target, swap string) {
	for i, tag := range tags {
		<form>
			<input type="hidden" name="tagId" value={ strconv.Itoa(tag.ID) }/>
			<input type="hidden" name="agentId" value={ agentId }/>
			<input id="page" type="hidden" name="page" value={ strconv.Itoa(p.CurrentPage) }/>
			<input id="pageSize" type="hidden" name="pageSize" value={ strconv.Itoa(p.PageSize) }/>
			<input id="sortBy" type="hidden" name="sortBy" value={ p.SortBy }/>
			<input id="sortOrder" type="hidden" name="sortOrder" value={ p.SortOrder }/>
			<button
				title={ fmt.Sprintf("Remove tag %s", tag.Tag) }
				type="button"
				class="flex min-w-0 max-w-full items-center gap-2 rounded-lg px-4 py-1"
				style={ templ.SafeCSS(string(TagColorStyle(tag.Color))+"overflow-wrap:anywhere;") }
				hx-delete={ url }
				hx-target={ target }
				hx-swap={ swap }
				hx-include="input[name^='filterBy']"
				hx-indicator={ fmt.Sprintf("#remove-tag-spinner-%d", i) }
				_={ fmt.Sprintf(`on click add .hidden to #remove-tag-icon-%d`, i) }
			>
				{ tag.Tag }
				<uk-icon id={ fmt.Sprintf("remove-tag-icon-%d", i) } icon="x" hx-history="false" custom-class="h-4 w-4" uk-cloak></uk-icon>
				<uk-icon id={ fmt.Sprintf("remove-tag-spinner-%d", i) } hx-history="false" icon="loader-circle" custom-class="htmx-indicator h-4 w-4 animate-spin" uk-cloack></uk-icon>
			</button>
		</form>
	}
}

templ ShowAppliedTagsWithoutRemoveOption(tags []*ent.Tag) {
	<div class="flex flex-wrap items-center gap-2">
		for _, tag := range tags {
			<span
				class="flex min-w-0 max-w-full items-center gap-2 rounded-lg px-4 py-1"
				style={ templ.SafeCSS(string(TagColorStyle(tag.Color))+"overflow-wrap:anywhere;") }
			>
				{ tag.Tag }
			</span>
		}
	</div>
}
