package computers_views

import (
	"fmt"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/open-uem/openuem-console/internal/views/partials"
	"golang.org/x/mod/semver"
)

templ ComputersNavbar(id string, active string, vncProxyPort string, confirmDelete bool, commonInfo *partials.CommonInfo, agentOS string, netbird bool, version string) {
	<ul class="uk-tab">
		<li class={ templ.KV("uk-active", active == "overview") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/overview?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/overview?delete=true", id)))) }
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/overview?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/overview?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/overview", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/overview", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Overview") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "hardware") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/hardware?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/hardware?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/hardware", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/hardware", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "inventory.hardware.title") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "os") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/os?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/os?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/os", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/os", id)))) }
					hx-push-url="true"
				}
				hx-push-url="true"
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "OS") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "monitors") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/monitors?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/monitors?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/monitors?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/monitors", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Monitors") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "logical-disks") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/logical-disks?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/logical-disks?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/logical-disks", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/logical-disks", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Logical Disks") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "physical-disks") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/physical-disks?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/physical-disks?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/physical-disks", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/physical-disks", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Physical Disks") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "shares") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/shares?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/shares?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/shares", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/shares", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Shares") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "network-adapters") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/network-adapters?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/network-adapters?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/network-adapters", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/network-adapters", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Network Adapters") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "printers") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/printers?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/printers?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/printers", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/printers", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Printers") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "software") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/software?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/software?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/software", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/software", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Software") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "deploy") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/deploy?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/deploy?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/deploy", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/deploy", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "DeployShort") }
			</a>
		</li>
		if !commonInfo.EndpointInboundDisabled {
			<li class={ templ.KV("uk-active", active == "remote-assistance") }>
				<a
					if confirmDelete {
						href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/remote-assistance?delete=true", id))) }
						hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/remote-assistance?delete=true", id)))) }
						hx-push-url="false"
					} else {
						href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/remote-assistance", id))) }
						hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/remote-assistance", id)))) }
						hx-push-url="true"
					}
					hx-target="#main"
					hx-swap="outerHTML"
				>
					{ i18n.T(ctx, "Remote Assistance") }
				</a>
			</li>
		}
		<li class={ templ.KV("uk-active", active == "power") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/power?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/power?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/power", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/power", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "agents.power_title") }
			</a>
		</li>
		if netbird {
			<li class={ templ.KV("uk-active", active == "netbird") }>
				<a
					if confirmDelete {
						href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/netbird?delete=true", id))) }
						hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/power?delete=true", id)))) }
						hx-push-url="false"
					} else {
						href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/netbird", id))) }
						hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/netbird", id)))) }
						hx-push-url="true"
					}
					hx-target="#main"
					hx-swap="outerHTML"
					hx-indicator="#netbird-spinner"
					class="flex items-center gap-1"
				>
					<uk-icon id="netbird-spinner" hx-history="false" icon="loader-circle" custom-class="htmx-indicator h-4 w-4 animate-spin" uk-cloack></uk-icon>
					NetBird
				</a>
			</li>
		}
		<li class={ templ.KV("uk-active", active == "notes") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/notes?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/notes?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/notes", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/notes", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Notes") }
			</a>
		</li>
		<li class={ templ.KV("uk-active", active == "metadata") }>
			<a
				if confirmDelete {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/metadata?delete=true", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/metadata?delete=true", id)))) }
					hx-push-url="false"
				} else {
					href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/metadata", id))) }
					hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/metadata", id)))) }
					hx-push-url="true"
				}
				hx-target="#main"
				hx-swap="outerHTML"
			>
				{ i18n.T(ctx, "Metadata") }
			</a>
		</li>
		if semver.Compare("v"+version, "v0.10.0") > 0 {
			<li class={ templ.KV("uk-active", active == "tasks") }>
				<a
					if confirmDelete {
						href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/tasks?delete=true", id))) }
						hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/tasks?delete=true", id)))) }
						hx-push-url="false"
					} else {
						href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/tasks", id))) }
						hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s/tasks", id)))) }
						hx-push-url="true"
					}
					hx-target="#main"
					hx-swap="outerHTML"
				>
					{ i18n.T(ctx, "agents.tasks_title") }
				</a>
			</li>
		}
	</ul>
}
