package computers_views

import (
	"fmt"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	"github.com/open-uem/ent"
	"github.com/open-uem/openuem-console/internal/views/partials"
)

templ RustDesk(c echo.Context, agent *ent.Agent, settings []*ent.Rustdesk, commonInfo *partials.CommonInfo) {
	@partials.Header(c, []partials.Breadcrumb{{Title: "Computers", Url: string(templ.URL(partials.GetNavigationUrl(commonInfo, "/computers")))}, {Title: partials.AgentDisplayName(agent.Nickname,agent.Hostname,agent.ID), Url: string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s", agent.ID))))}, {Title: i18n.T(ctx, "agents.vnc_title"), Url: ""}}, commonInfo)
	<main id="main" class="grid flex-1 items-start gap-4 px-4 py-2 sm:px-6 sm:py-0 md:gap-8">
		<div class="uk-width-1-2@m uk-card uk-card-default">
			<div class="uk-card-body uk-flex uk-flex-column gap-1">
				<div id="error" class="hidden"></div>
				<div id="vnc" class="flex flex-col">
					@RustDeskInit(agent, commonInfo)
				</div>
			</div>
		</div>
	</main>
	<script type="module" src="/assets/js/novnc.js"></script>
}
