package profiles_views

import (
	"fmt"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	"github.com/open-uem/ent"
	"github.com/open-uem/openuem-console/internal/views/partials"
)

templ CloneProfile(c echo.Context, profile *ent.Profile, allTenants []*ent.Tenant, info *partials.CommonInfo) {
	@partials.Header(c, []partials.Breadcrumb{{Title: i18n.T(ctx, "profiles.clone.title")}}, info)
	<main class="grid flex-1 min-w-0 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8">
		<div id="error" class="hidden"></div>
		<div class="uk-card uk-card-default min-w-0">
			<div class="uk-card-header">
				<h3 class="uk-card-title">{ i18n.T(ctx, "profiles.clone.title") }</h3>
				<p class="uk-text-small my-2">{ i18n.T(ctx, "profile_cloning.description") }</p>
				<p class="uk-text-small">{ i18n.T(ctx, "profile_cloning.source", profile.ID) }</p>
			</div>
			<div class="uk-card-body min-w-0">
				@ProfileCloneForm(profile, allTenants, info)
			</div>
		</div>
	</main>
}

templ ProfileCloneForm(profile *ent.Profile, allTenants []*ent.Tenant, info *partials.CommonInfo) {
	<form id="profile-clone-form" class="uk-form-stacked my-6" hx-post={ partials.GetNavigationUrl(info, fmt.Sprintf("/profiles/%d/clone", profile.ID)) } hx-target="#main" hx-swap="outerHTML" hx-push-url="false" hx-disabled-elt="find button">
		@ProfileNameField(profile)
		<div class="my-4">
			<label class="uk-form-label" for="tenant-id">{ i18n.T(ctx, "profile_cloning.organization") }</label>
			<div class="uk-form-controls">
				<select id="tenant-id" class="uk-select w-full" name="tenant-id" hx-post="/tenant/sites" hx-params="tenant-id" hx-target="#site-selector" hx-push-url="false" hx-trigger="change" hx-swap="outerHTML" hx-sync="this:replace" hx-disabled-elt="#profile-clone-submit">
					<option value="" selected>{ i18n.T(ctx, "profile_cloning.global") }</option>
					for _, t := range allTenants {
						<option value={ t.ID }>{ t.Description }</option>
					}
				</select>
			</div>
		</div>
		@EmptySitesSelect()
		<div class="flex flex-wrap gap-4 my-4">
			<button id="profile-clone-submit" type="submit" class="uk-button uk-button-primary">{ i18n.T(ctx, "tasks.clone.execute") }</button>
			<a class="uk-button uk-button-default" href={ templ.URL(partials.GetNavigationUrl(info, "/profiles")) } hx-get={ partials.GetNavigationUrl(info, "/profiles") } hx-push-url="true" hx-target="#main" hx-swap="outerHTML">{ i18n.T(ctx, "Cancel") }</a>
		</div>
	</form>
}

templ SitesSelect(allSites []*ent.Site) {
	<div id="site-selector" class="my-4">
		<label class="uk-form-label" for="site-id">{ i18n.T(ctx, "profile_cloning.site") }</label>
		<div class="uk-form-controls">
			<select id="site-id" class="uk-select w-full" name="site-id">
				<option value="">{ i18n.T(ctx, "AllSites") }</option>
				for _, s := range allSites {
					<option value={ s.ID }>{ s.Description }</option>
				}
			</select>
		</div>
	</div>
}

templ EmptySitesSelect() {
	<div id="site-selector" class="hidden"></div>
}
