package profiles_views

import (
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	"github.com/open-uem/openuem-console/internal/views/partials"
)

templ NewProfile(c echo.Context, commonInfo *partials.CommonInfo) {
	@partials.Header(c, []partials.Breadcrumb{{Title: i18n.T(ctx, "Profile Management"), Url: string(templ.URL(partials.GetNavigationUrl(commonInfo, "/profiles")))}}, commonInfo)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8">
		<div id="error" class="hidden"></div>
		<div class="uk-width-1-2@m uk-card uk-card-default">
			<div class="uk-card-header">
				<div class="flex justify-between items-center">
					<div class="flex flex-col my-4 mx-1">
						<h3 class="uk-card-title">{ i18n.T(ctx, "profiles.new.title") }</h3>
						<p class="uk-margin-small-top uk-text-small">
							{ i18n.T(ctx, "profiles.new.description") }
						</p>
					</div>
				</div>
			</div>
			<div class="uk-card-body">
				@ProfileCreationForm(commonInfo)
			</div>
		</div>
	</main>
}
