package profiles_views

import (
	"fmt"
	"github.com/dimmerz92/go-lucide-icons/templicons/icons"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	"github.com/open-uem/ent"
	"github.com/open-uem/ent/task"
	"github.com/open-uem/openuem-console/internal/views/partials"
	"strconv"
)

templ EditProfile(c echo.Context, p partials.PaginationAndSort, profile *ent.Profile, tasks []*ent.Task, availableTags []*ent.Tag, successMessage string, itemsPerPage int, commonInfo *partials.CommonInfo) {
	@partials.Header(c, []partials.Breadcrumb{{Title: i18n.T(ctx, "Profile Management"), Url: string(templ.URL(partials.GetNavigationUrl(commonInfo, "/profiles")))}, {Title: profile.Name}}, commonInfo)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8" hx-history="false">
		<div class="uk-width-1-2@m uk-card uk-card-default">
			<div class="uk-card-header">
				<div class="flex justify-between items-center">
					<div class="flex flex-col my-4 mx-1">
						<h3 class="uk-card-title">{ i18n.T(ctx, "profiles.edit.title") }</h3>
						<p class="uk-margin-small-top uk-text-small">
							{ i18n.T(ctx, "profiles.edit.description") }
						</p>
						if successMessage != "" {
							@partials.SuccessMessage(successMessage)
						}
						<div id="error" class="hidden mt-6"></div>
					</div>
				</div>
			</div>
			<div class="uk-card-body">
				<div class="flex flex-col gap-4">
					<div class="flex flex-col gap-4 mt-6">
						@ProfileNameField(profile)
						<div class="flex flex-col gap-4 sm:flex-row sm:gap-8">
							<div>
								@ProfileAssignmentField(profile)
							</div>
							<div>
								<div id="profile-tags" class={ templ.KV("invisible", profile.ApplyToAll || len(profile.Edges.Tags) == 0), templ.KV("visible", !profile.ApplyToAll && len(profile.Edges.Tags) > 0) }>
									<label class="uk-form-label" for="profile-tags-section">
										{ i18n.T(ctx, "profiles.edit.select_tags") }
									</label>
									<div class="uk-form-controls">
										<div id="profile-tags-section" class="flex flex-wrap gap-2">
											@partials.ShowAppliedTags(profile.Edges.Tags, strconv.Itoa(profile.ID), p, string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d/tags", profile.ID)))), "#main", "outerHTML")
											@partials.AddTagButton(p, availableTags, profile.Edges.Tags, strconv.Itoa(profile.ID), string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d/tags", profile.ID)))), "post", "#main", "outerHTML", commonInfo)
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="flex flex-wrap gap-4 my-2">
							@ProfileMetadataSaveAction(profile, commonInfo)
							<button
								title={ i18n.T(ctx, "profiles.add") }
								type="button"
								class="uk-button uk-button-default"
								hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d/new", profile.ID)))) }
								hx-target="#main"
								hx-push-url="false"
								hx-swap="outerHTML"
							>
								<uk-icon icon="square-plus" class="mr-2"></uk-icon>{ i18n.T(ctx, "profiles.edit.add_task") }
							</button>
						</div>
					</div>
					@ProfileTaskList(c, p, profile.ID, tasks, itemsPerPage, commonInfo)
				</div>
			</div>
		</div>
	</main>
}

templ TaskTypeIcon(taskType string) {
	switch taskType {
		case task.TypeWingetInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.winget_install") } uk-cloack></uk-icon>
		case task.TypeFlatpakInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.flatpak_install") } uk-cloack></uk-icon>
		case task.TypeBrewFormulaInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_formula_install") } uk-cloack></uk-icon>
		case task.TypeBrewCaskInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_cask_install") } uk-cloack></uk-icon>
		case task.TypeBrewFormulaUpgrade.String():
			<uk-icon hx-history="false" icon="package-check" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_formula_upgrade") } uk-cloack></uk-icon>
		case task.TypeBrewCaskUpgrade.String():
			<uk-icon hx-history="false" icon="package-check" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_cask_upgrade") } uk-cloack></uk-icon>
		case task.TypeBrewFormulaUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_formula_uninstall") } uk-cloack></uk-icon>
		case task.TypeBrewCaskUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_cask_uninstall") } uk-cloack></uk-icon>
		case task.TypeWingetDelete.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.winget_delete") } uk-cloack></uk-icon>
		case task.TypeFlatpakUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.flatpak_uninstall") } uk-cloack></uk-icon>
		case "execute_command":
			<uk-icon hx-history="false" icon="play" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.execute_command") } uk-cloack></uk-icon>
		case task.TypeAddRegistryKey.String(), task.TypeAddRegistryKeyValue.String():
			<uk-icon hx-history="false" icon="book-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.add_registry_key") } uk-cloack></uk-icon>
		case task.TypeRemoveRegistryKey.String():
			<uk-icon hx-history="false" icon="book-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_registry_key") } uk-cloack></uk-icon>
		case task.TypeRemoveRegistryKeyValue.String():
			<uk-icon hx-history="false" icon="book-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_registry_key_value") } uk-cloack></uk-icon>
		case task.TypeUpdateRegistryKeyDefaultValue.String():
			<uk-icon hx-history="false" icon="book-up2" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.update_registry_key_default_value") } uk-cloack></uk-icon>
		case task.TypeAddLocalUser.String(), task.TypeAddUnixLocalUser.String():
			@icons.UserRoundPlus(templ.Attributes{"class": "h-6 w-6 text-green-600", "uk-tooltip": i18n.T(ctx, "tasks.local_user_add")})
		case task.TypeRemoveLocalUser.String(), task.TypeRemoveUnixLocalUser.String():
			<uk-icon hx-history="false" icon="user-round-x" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.local_user_remove") } uk-cloack></uk-icon>
		case task.TypeAddLocalGroup.String(), task.TypeAddUnixLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.add_local_group") } uk-cloack></uk-icon>
		case task.TypeRemoveLocalGroup.String(),task.TypeRemoveUnixLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_local_group") } uk-cloack></uk-icon>
		case task.TypeAddUsersToLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.add_users_to_local_group") } uk-cloack></uk-icon>
		case task.TypeRemoveUsersFromLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_users_from_local_group") } uk-cloack></uk-icon>
		case task.TypeMsiInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.msi_install") } uk-cloack></uk-icon>
		case task.TypeMsiUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.msi_uninstall") } uk-cloack></uk-icon>
		case task.TypePowershellScript.String():
			<uk-icon hx-history="false" icon="scroll-text" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.powershell_script") } uk-cloack></uk-icon>
		case task.TypeUnixScript.String():
			@icons.ScrollText(templ.Attributes{"class": "h-6 w-6 text-blue-600", "uk-tooltip": i18n.T(ctx, "tasks.unix_script_subtype")})
		case task.TypeNetbirdInstall.String(), task.TypeNetbirdUninstall.String(), task.TypeNetbirdRegister.String():
			<img src="/assets/img/svg/netbird.svg" class="w-5"/>
	}
}

templ TaskAgentIcon(agent string) {
	switch agent {
		case "windows":
			<i class="ri-windows-fill ri-2x text-blue-600"></i>
		case "linux":
			<i class="si si-linux uk-cloak text-2xl"></i>
		case "macos":
			<i class="si si-apple uk-cloak text-2xl"></i>
	}
}
