package profiles_views

import (
	"fmt"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	"github.com/open-uem/ent"
	"github.com/open-uem/openuem-console/internal/views/partials"
	"strings"
	"time"
)

templ ProfilesIssues(c echo.Context, p partials.PaginationAndSort, issues []*ent.ProfileIssue, profile *ent.Profile, itemsPerPage int, commonInfo *partials.CommonInfo) {
	@partials.Header(c, []partials.Breadcrumb{{Title: i18n.T(ctx, "Profile Management"), Url: string(templ.URL(partials.GetNavigationUrl(commonInfo, "/profiles")))}, {Title: profile.Name, Url: string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d", profile.ID))))}, {Title: i18n.T(ctx, "profiles.issues.title")}}, commonInfo)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8">
		<div id="error" class="hidden"></div>
		<div class="uk-width-1-2@m uk-card uk-card-default">
			<div class="uk-card-header">
				<div class="flex justify-between items-center">
					<div class="flex flex-col my-4 mx-1">
						<h3 class="uk-card-title">{ i18n.T(ctx, "profiles.issues.title") }</h3>
						<p class="uk-margin-small-top uk-text-small">
							{ i18n.T(ctx, "profiles.issues.description") }
						</p>
					</div>
				</div>
			</div>
			<div class="uk-card-body flex flex-col gap-4">
				if len(issues) > 0 {
					<table class="uk-table uk-table-divider uk-table-small uk-table-hover uk-table-striped mt-6">
						<thead>
							<tr>
								<th class="w-1/6"><span>{ i18n.T(ctx, "profiles.issues.endpoint") }</span></th>
								<th class="w-1/6"><span>{ i18n.T(ctx, "profiles.issues.last_report") }</span></th>
								<th class="w-2/3"><span>{ i18n.T(ctx, "profiles.issues.tasks_report") }</span></th>
							</tr>
						</thead>
						for index, issue := range issues {
							if issue.Edges.Agents != nil {
								<tr>
									<td class="!align-middle">
										<a
											href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s", issue.Edges.Agents.ID))) }
											hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/computers/%s", issue.Edges.Agents.ID)))) }
											hx-push-url="true"
											hx-target="#main"
											hx-swap="outerHTML"
											class="underline cursor-pointer"
										>
											{ issue.Edges.Agents.Nickname }
										</a>
									</td>
									<td class="!align-middle">
										{ issue.When.Local().String() }
									</td>
									<td class="flex flex-col gap-4 !align-middle">
										if issue.Error != "" {
											for line := range strings.SplitSeq(issue.Error, ", ") {
												<p>{ line }</p>
											}
										} else {
											if len(issue.Edges.Tasksreports) > 0 {
												<div class="flex gap-2">
													if getSuccessfulTasks(issue.Edges.Tasksreports) > 0 {
														<span>{ i18n.T(ctx, "profiles.issues.tasks_report_successful_summary", getSuccessfulTasks(issue.Edges.Tasksreports)) }</span>
													}
													if getFailedTasks(issue.Edges.Tasksreports) > 0 {
														<span class="text-red-600">{ i18n.T(ctx, "profiles.issues.tasks_report_failed_summary", getFailedTasks(issue.Edges.Tasksreports)) }</span>
													}
													<a class="underline cursor-pointer" href={ fmt.Sprintf("#modal-overflow-%d", index) } uk-toggle>{ i18n.T(ctx, "profiles.issues.tasks_report_more_info") }</a>
												</div>
												<div id={ fmt.Sprintf("modal-overflow-%d", index) } uk-modal>
													<div id="profile-report-modal" class="uk-margin-auto-vertical uk-modal-dialog  w-2/3">
														<button id={ fmt.Sprintf("profile-report-modal-close-%d", index) } class="uk-modal-close-default dark:text-white" type="button" uk-close></button>
														<div class="flex flex-col gap-4 uk-modal-body" uk-overflow-auto>
															<h2 class="uk-modal-title dark:text-white">{ i18n.T(ctx, "profiles.issues.tasks_report_for", issue.Edges.Agents.Nickname) }</h2>
															@ReportDetail(issue, commonInfo, index)
														</div>
													</div>
												</div>
											} else {
												{ "-" }
											}
										}
									</td>
								</tr>
							}
						}
					</table>
					@partials.Pagination(c, p, "get", "#main", "outerHTML", string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d/issues", profile.ID)))), itemsPerPage)
				} else {
					<p class="uk-text-small uk-text-muted mt-6">
						{ i18n.T(ctx, "profiles.issues.no_issues") }
					</p>
				}
			</div>
		</div>
	</main>
}

templ ReportDetail(issue *ent.ProfileIssue, commonInfo *partials.CommonInfo, index int) {
	<table class="uk-table uk-table-divider uk-table-small uk-table-hover uk-table-striped uk-overflow-auto">
		for _, t := range issue.Edges.Tasksreports {
			if t.Edges.Task != nil && !t.Edges.Task.Disabled {
				<tr>
					<th class="align-middle" rowspan="4">
						<div class="flex gap-2">
							if t.Failed {
								@partials.Crossmark()
							} else {
								@partials.Checkmark()
							}
							<a
								href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d", t.Edges.Task.ID))) }
								hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d", t.Edges.Task.ID)))) }
								hx-params="none"
								hx-push-url="true"
								hx-target="#main"
								hx-swap="outerHTML"
								class="underline hover:cursor-pointer"
								_={ fmt.Sprintf("on click call #profile-report-modal-close-%d.click()", index) }
							>{ t.Edges.Task.Name }</a>
						</div>
					</th>
				</tr>
				<tr>
					<th><span class="text-nowrap">{ i18n.T(ctx, "profiles.standard_error") }</span></th>
					<td class="dark:text-white">{ t.StdError }</td>
				</tr>
				<tr>
					<th><span class="text-nowrap">{ i18n.T(ctx, "profiles.standard_output") }</span></th>
					<td class="dark:text-white">{ t.StdOutput }</td>
				</tr>
				<tr>
					<th>{ i18n.T(ctx, "profiles.execution_time") }</th>
					if when, err := parseTime(t.End); err == nil {
						<td class="dark:text-white">{ commonInfo.Translator.FmtDateMedium(when.Local()) + " " + commonInfo.Translator.FmtTimeMedium(when.Local()) }</td>
					}
					if _, err := parseTime(t.End); err != nil {
						<td class="dark:text-white">{ t.End }</td>
					}
				</tr>
			}
		}
	</table>
}

func getFailedTasks(taskReports []*ent.TaskReport) int {
	failed := 0

	for _, t := range taskReports {
		if t.Failed && !t.Edges.Task.Disabled {
			failed++
		}
	}

	return failed
}

func getSuccessfulTasks(taskReports []*ent.TaskReport) int {
	successful := 0

	for _, t := range taskReports {
		if !t.Failed && !t.Edges.Task.Disabled {
			successful++
		}
	}

	return successful
}

func parseTime(when string) (time.Time, error) {
	return time.ParseInLocation(time.RFC3339Nano, when, time.Local)
}
