package profiles_views

import (
	"fmt"
	"github.com/dimmerz92/go-lucide-icons/templicons/icons"
	"github.com/invopop/ctxi18n/i18n"
	"github.com/labstack/echo/v4"
	"github.com/open-uem/ent"
	"github.com/open-uem/ent/task"
	"github.com/open-uem/openuem-console/internal/views/partials"
	"strconv"
)

templ EditProfile(c echo.Context, p partials.PaginationAndSort, profile *ent.Profile, tasks []*ent.Task, availableTags []*ent.Tag, allProfiles []*ent.Profile, taskId string, successMessage string, confirmDelete bool, confirmClone bool, itemsPerPage int, commonInfo *partials.CommonInfo) {
	@partials.Header(c, []partials.Breadcrumb{{Title: i18n.T(ctx, "Profile Management"), Url: string(templ.URL(partials.GetNavigationUrl(commonInfo, "/profiles")))}, {Title: profile.Name}}, commonInfo)
	<main class="grid flex-1 items-start gap-4 p-4 sm:px-6 sm:py-0 md:gap-8" hx-history="false">
		<div class="uk-width-1-2@m uk-card uk-card-default">
			<div class="uk-card-header">
				<div class="flex justify-between items-center">
					<div class="flex flex-col my-4 mx-1">
						<h3 class="uk-card-title">{ i18n.T(ctx, "profiles.edit.title") }</h3>
						<p class="uk-margin-small-top uk-text-small">
							{ i18n.T(ctx, "profiles.edit.description") }
						</p>
						if successMessage != "" {
							@partials.SuccessMessage(successMessage)
						}
						<div id="error" class="hidden mt-6"></div>
					</div>
				</div>
			</div>
			<div class="uk-card-body">
				<div class="flex flex-col gap-4">
					<div class="flex flex-col gap-4 mt-6">
						@ProfileNameField(profile)
						<div class="flex flex-col gap-4 sm:flex-row sm:gap-8">
							<div>
								@ProfileAssignmentField(profile)
							</div>
							<div>
								<div id="profile-tags" class={ templ.KV("invisible", profile.ApplyToAll || len(profile.Edges.Tags) == 0), templ.KV("visible", !profile.ApplyToAll && len(profile.Edges.Tags) > 0) }>
									<label class="uk-form-label" for="profile-tags-section">
										{ i18n.T(ctx, "profiles.edit.select_tags") }
									</label>
									<div class="uk-form-controls">
										<div id="profile-tags-section" class="flex flex-wrap gap-2">
											@partials.ShowAppliedTags(profile.Edges.Tags, strconv.Itoa(profile.ID), p, string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d/tags", profile.ID)))), "#main", "outerHTML")
											@partials.AddTagButton(p, availableTags, profile.Edges.Tags, strconv.Itoa(profile.ID), string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d/tags", profile.ID)))), "post", "#main", "outerHTML", commonInfo)
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="flex flex-wrap gap-4 my-2">
							@ProfileMetadataSaveAction(profile, commonInfo)
							<button
								title={ i18n.T(ctx, "profiles.add") }
								type="button"
								class="uk-button uk-button-default"
								hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d/new", profile.ID)))) }
								hx-target="#main"
								hx-push-url="false"
								hx-swap="outerHTML"
							>
								<uk-icon icon="square-plus" class="mr-2"></uk-icon>{ i18n.T(ctx, "profiles.edit.add_task") }
							</button>
						</div>
					</div>
					if len(profile.Edges.Tasks) == 0 {
						<p class="uk-text-small uk-text-muted">
							{ i18n.T(ctx, "profiles.edit.no_tasks") }
						</p>
					} else {
						if confirmDelete {
							@partials.ConfirmDelete(c, i18n.T(ctx, "tasks.confirm_delete"), string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d", profile.ID)))), string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%s", taskId)))))
						}
						if confirmClone {
							@ConfirmClone(c, commonInfo, allProfiles)
						}
						<table class="uk-table uk-table-divider uk-table-small uk-table-hover uk-table-striped" hx-history="false">
							<thead>
								<tr>
									<th class="w-1/12"></th>
									<th class="w-1/12">{ i18n.T(ctx, "Version") }</th>
									<th class="w-1/12"><span>{ i18n.T(ctx, "profiles.is_enabled") }</span></th>
									<th class="w-4/12">
										<div class="flex gap-1 items-center">
											<span>{ i18n.T(ctx, "profiles.edit.task_description") }</span>
										</div>
									</th>
									<th class="w-4/12">{ i18n.T(ctx, "More info") }</th>
									<th class="w-1/12"></th>
								</tr>
							</thead>
							<tbody
								id="tasks-sortable"
								uk-sortable="handle: .uk-sortable-handle"
								hx-trigger="taskMoved"
								hx-post=""
								hx-push-url="false"
								hx-target="body"
								hx-swap="outerHTML"
								hx-history="false"
								_={ fmt.Sprintf(`
									init
										htmx.process(me)
										set :taskOrders to [] as Array
									end
									on start
										repeat for el in <tr[data-sortable]/>
											append el@data-order to :taskOrders	
										end
									end	
									on moved
										set taskID to event.detail[1]@data-task-id
										set currentOrder to event.detail[1]@data-order
										for x in <tr[data-sortable]/> index i
											if x@data-task-id is taskID
												set newOrder to :taskOrders[i]
												break
											end
										end
										set url to '%s' + '/tasks/' + taskID + '/movefrom/' + currentOrder + '/to/' + newOrder
										set @hx-post to url
										htmx.process(me)
										send taskMoved to me
								    end
									on stop
										set :taskOrders to [] as Array										
									end									
								`,string(templ.URL(partials.GetNavigationUrl(commonInfo,"")))) }
							>
								for index, t := range tasks {
									<tr class="uk-sortable-handle" data-sortable data-task-id={ t.ID } data-order={ t.Order } hx-history="false">
										<td class="items-center !align-middle my-10">
											<div class="flex gap-4 items-center !align-middle">
												@icons.Move(templ.Attributes{"class": "h-5 w-5"})
												@TaskTypeIcon(t.Type.String())
												@TaskAgentIcon(t.AgentType.String())
											</div>
										</td>
										<td class="items-center !align-middle">{ t.Version }</td>
										<td class="items-center !align-middle">
											@TaskStatusIndicator(t.ID, t.Disabled, false)
										</td>
										<td
											class="items-center !align-middle"
										>
											<a
												href={ templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d", t.ID))) }
												hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d", t.ID)))) }
												hx-push-url="true"
												hx-target="#main"
												hx-swap="outerHTML"
												class="underline hover:cursor-pointer"
											>{ t.Name }</a>
										</td>
										<td class="items-center !align-middle">
											switch t.Type {
												case task.TypeWingetInstall, task.TypeWingetDelete, task.TypeFlatpakInstall, task.TypeFlatpakUninstall, task.TypeBrewFormulaInstall, task.TypeBrewFormulaUninstall, task.TypeBrewFormulaUpgrade, task.TypeBrewCaskInstall, task.TypeBrewCaskUninstall, task.TypeBrewCaskUpgrade:
													<span>{ t.PackageName + " " + t.PackageVersion }</span>
												case task.TypeAddRegistryKey, task.TypeRemoveRegistryKey, task.TypeUpdateRegistryKeyDefaultValue:
													<span>{ t.RegistryKey }</span>
												case task.TypeAddRegistryKeyValue, task.TypeRemoveRegistryKeyValue:
													<span>{ t.RegistryKey + " <- " + t.RegistryKeyValueName }</span>
												case task.TypeAddLocalUser, task.TypeRemoveLocalUser, task.TypeAddUnixLocalUser, task.TypeRemoveUnixLocalUser:
													<span>{ t.LocalUserUsername }</span>
												case task.TypeAddLocalGroup, task.TypeAddUnixLocalGroup:
													if t.LocalGroupMembers != "" {
														<span>{ t.LocalGroupName + " <- " + t.LocalGroupMembers }</span>
													} else {
														<span>{ t.LocalGroupName }</span>
													}
												case task.TypeRemoveLocalGroup, task.TypeRemoveUnixLocalGroup:
													<span>{ t.LocalGroupName }</span>
												case task.TypeAddUsersToLocalGroup:
													<span>{ t.LocalGroupName + " <- " + t.LocalGroupMembersToInclude }</span>
												case task.TypeRemoveUsersFromLocalGroup:
													<span>{ t.LocalGroupName + " - x - " + t.LocalGroupMembersToExclude }</span>
												case task.TypeMsiInstall, task.TypeMsiUninstall:
													<span>{ t.MsiProductid }</span>
												case task.TypePowershellScript:
													<span>{ i18n.T(ctx, "tasks.powershell_subtype") }</span>
												case task.TypeUnixScript:
													<span>{ i18n.T(ctx, "tasks.unix_script_subtype") }</span>
												default:
													<span>-</span>
											}
										</td>
										<td class="items-center !align-middle">
											@partials.MoreButton(index)
											<div class="uk-drop uk-dropdown" uk-dropdown="mode: click">
												<ul class="uk-dropdown-nav uk-nav" _={ fmt.Sprintf("on click call #moreButton%d.click()", index) }>
													if t.Order != 1 {
														<li>
															<a
																hx-post={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d/moveup/%d", t.ID, t.Order)))) }
																hx-target="#main"
																hx-swap="outerHTML"
																hx-push-url="false"
																class="flex items-center gap-2 py-2 px-4"
															><uk-icon hx-history="false" icon="chevron-up" custom-class="h-6 w-6 -ml-1" uk-cloack></uk-icon>{ i18n.T(ctx, "tasks.move_up") }</a>
														</li>
													}
													if t.Order != p.NItems {
														<li>
															<a
																hx-post={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d/movedown/%d", t.ID, t.Order)))) }
																hx-target="#main"
																hx-swap="outerHTML"
																hx-push-url="false"
																class="flex items-center gap-2 py-2 px-4"
																type="button"
															><uk-icon hx-history="false" icon="chevron-down" custom-class="h-6 w-6 -ml-1" uk-cloack></uk-icon>{ i18n.T(ctx, "tasks.move_down") }</a>
														</li>
													}
													<li>
														@TaskStatusAction(t, p, commonInfo, "")
													</li>
													<li>
														<a
															hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d/clone", t.ID)))) }
															hx-target="#main"
															hx-swap="outerHTML"
															hx-push-url="true"
															class="flex items-center gap-2 py-2 px-4"
														><uk-icon hx-history="false" icon="copy" custom-class="h-5 w-5 mx-auto" uk-cloack></uk-icon>{ i18n.T(ctx, "tasks.clone.title") }</a>
													</li>
													<li>
														<a
															hx-get={ string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/tasks/%d/confirm-delete/%d", profile.ID, t.ID)))) }
															hx-target="#main"
															hx-swap="outerHTML"
															hx-push-url="false"
															class="flex items-center gap-2 py-2 px-4"
														><uk-icon hx-history="false" icon="trash-2" custom-class="h-5 w-5 mx-auto text-red-600" uk-cloack></uk-icon>{ i18n.T(ctx, "Delete") }</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
						@partials.Pagination(c, p, "get", "#main", "outerHTML", string(templ.URL(partials.GetNavigationUrl(commonInfo, fmt.Sprintf("/profiles/%d", profile.ID)))), itemsPerPage)
					}
				</div>
			</div>
		</div>
	</main>
}

templ TaskTypeIcon(taskType string) {
	switch taskType {
		case task.TypeWingetInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.winget_install") } uk-cloack></uk-icon>
		case task.TypeFlatpakInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.flatpak_install") } uk-cloack></uk-icon>
		case task.TypeBrewFormulaInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_formula_install") } uk-cloack></uk-icon>
		case task.TypeBrewCaskInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_cask_install") } uk-cloack></uk-icon>
		case task.TypeBrewFormulaUpgrade.String():
			<uk-icon hx-history="false" icon="package-check" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_formula_upgrade") } uk-cloack></uk-icon>
		case task.TypeBrewCaskUpgrade.String():
			<uk-icon hx-history="false" icon="package-check" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_cask_upgrade") } uk-cloack></uk-icon>
		case task.TypeBrewFormulaUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_formula_uninstall") } uk-cloack></uk-icon>
		case task.TypeBrewCaskUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.brew_cask_uninstall") } uk-cloack></uk-icon>
		case task.TypeWingetDelete.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.winget_delete") } uk-cloack></uk-icon>
		case task.TypeFlatpakUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.flatpak_uninstall") } uk-cloack></uk-icon>
		case "execute_command":
			<uk-icon hx-history="false" icon="play" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.execute_command") } uk-cloack></uk-icon>
		case task.TypeAddRegistryKey.String(), task.TypeAddRegistryKeyValue.String():
			<uk-icon hx-history="false" icon="book-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.add_registry_key") } uk-cloack></uk-icon>
		case task.TypeRemoveRegistryKey.String():
			<uk-icon hx-history="false" icon="book-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_registry_key") } uk-cloack></uk-icon>
		case task.TypeRemoveRegistryKeyValue.String():
			<uk-icon hx-history="false" icon="book-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_registry_key_value") } uk-cloack></uk-icon>
		case task.TypeUpdateRegistryKeyDefaultValue.String():
			<uk-icon hx-history="false" icon="book-up2" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.update_registry_key_default_value") } uk-cloack></uk-icon>
		case task.TypeAddLocalUser.String(), task.TypeAddUnixLocalUser.String():
			@icons.UserRoundPlus(templ.Attributes{"class": "h-6 w-6 text-green-600", "uk-tooltip": i18n.T(ctx, "tasks.local_user_add")})
		case task.TypeRemoveLocalUser.String(), task.TypeRemoveUnixLocalUser.String():
			<uk-icon hx-history="false" icon="user-round-x" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.local_user_remove") } uk-cloack></uk-icon>
		case task.TypeAddLocalGroup.String(), task.TypeAddUnixLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.add_local_group") } uk-cloack></uk-icon>
		case task.TypeRemoveLocalGroup.String(),task.TypeRemoveUnixLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_local_group") } uk-cloack></uk-icon>
		case task.TypeAddUsersToLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.add_users_to_local_group") } uk-cloack></uk-icon>
		case task.TypeRemoveUsersFromLocalGroup.String():
			<uk-icon hx-history="false" icon="users-round" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.remove_users_from_local_group") } uk-cloack></uk-icon>
		case task.TypeMsiInstall.String():
			<uk-icon hx-history="false" icon="package-plus" custom-class="mx-auto h-6 w-6 text-green-600" uk-tooltip={ i18n.T(ctx, "tasks.msi_install") } uk-cloack></uk-icon>
		case task.TypeMsiUninstall.String():
			<uk-icon hx-history="false" icon="package-minus" custom-class="mx-auto h-6 w-6 text-red-600" uk-tooltip={ i18n.T(ctx, "tasks.msi_uninstall") } uk-cloack></uk-icon>
		case task.TypePowershellScript.String():
			<uk-icon hx-history="false" icon="scroll-text" custom-class="mx-auto h-6 w-6 text-blue-600" uk-tooltip={ i18n.T(ctx, "tasks.powershell_script") } uk-cloack></uk-icon>
		case task.TypeUnixScript.String():
			@icons.ScrollText(templ.Attributes{"class": "h-6 w-6 text-blue-600", "uk-tooltip": i18n.T(ctx, "tasks.unix_script_subtype")})
		case task.TypeNetbirdInstall.String(), task.TypeNetbirdUninstall.String(), task.TypeNetbirdRegister.String():
			<img src="/assets/img/svg/netbird.svg" class="w-5"/>
	}
}

templ TaskAgentIcon(agent string) {
	switch agent {
		case "windows":
			<i class="ri-windows-fill ri-2x text-blue-600"></i>
		case "linux":
			<i class="si si-linux uk-cloak text-2xl"></i>
		case "macos":
			<i class="si si-apple uk-cloak text-2xl"></i>
	}
}

templ ConfirmClone(c echo.Context, commonInfo *partials.CommonInfo, allProfiles []*ent.Profile) {
	<form class="flex gap-2 w-1/2">
		<uk-select class="w-2/3" name="task" placeholder={ i18n.T(ctx, "agents.select_task") } searchable uk-cloak>
			for _, t := range allProfiles {
				<option value={ fmt.Sprintf("%s-%d", t.Name, t.ID) }>{ t.Name }</option>
			}
		</uk-select>
		<button
			class="flex gap-2 uk-button uk-button-primary"
			hx-push-url="false"
			hx-target="#main"
			hx-swap="outerHTML"
			hx-indicator="#run-profile-spinner"
		>
			@icons.Play(templ.Attributes{"class": "h-5 w-5"})
			{ i18n.T(ctx, "agents.execute_task") }
			<uk-icon id="run-profile-spinner" hx-history="false" icon="loader-circle" custom-class="htmx-indicator h-4 w-4 animate-spin" uk-cloack></uk-icon>
		</button>
	</form>
}
